/* Products.css */

section {
  padding: 200px 14%;
}

.banner {
  min-height: 100%;
  width: 100%;
  background: url(../Image/banner.webp);
  background-size: cover;
  background-position: center top;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.banner-text,
h1,
span,
p {
  background-color: transparent;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 10px;
  margin-bottom: 23px;
}

.banner-text span {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.banner-text p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
  letter-spacing: 3px;
}

/* =======================================*/

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 5px;
}

.product-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.product-desc {
  margin-top: 10px;
  color: #666;
}

.product-price {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.add-button,
.view-button {
  margin-top: 10px; /* Maintain the same margin-top value for both buttons */
  margin-right: 10px; /* Add margin-right to create space between buttons */
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover,
.view-button:hover {
  background-color: #0056b3;
}

.add-button:focus,
.view-button:focus {
  outline: none;
}

.category-image {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add some margin for spacing */
}

.category-image:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}
