section {
  padding: 200px 14%;
}

.banner {
  min-height: 100%;
  width: 100%;
  background: url(../Image/banner.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.banner-text,
h1,
span,
p {
  background-color: transparent;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 10px;
  margin-bottom: 23px;
}

.banner-text span {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.banner-text p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
  letter-spacing: 3px;
}

/* =======================================*/

.header-text h2 {
  color: #111111;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
  margin: 5%;
}

.product-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 70px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  background-color: transparent;
  margin: 10px;
  background-color: white;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: white;
  padding: 10px;
  transition: transform 0.3s ease;
  mix-blend-mode: darken;
}

.product-content {
  padding: 20px;
  background-color: white;
}

.product-title {
  font-size: 1.3rem;
  margin-bottom: 15px;
  background-color: white;
}

.product-desc {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 15px;
}

.product-price h4 {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 20px;
  background-color: white;
}

.btn-container {
  display: grid;
  justify-content: center;
  background: transparent;
}

.add-button,
.view-button {
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.product-card:hover .product-image {
  transform: translateY(-30px);
}

/* notification */

/* Products.css */

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s forwards, slideOut 0.5s forwards 2.5s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
}
