li,
a,
button {
  background-color: black;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
}

.logo-name {
  color: white;
}

header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  padding: 0 20px;
  font-size: 15px;
  color: white;
}

.logout-btn {
  color: white;
  padding: 9px 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  list-style: none;
  padding: 9px auto;
}

.icons-container a {
  color: black;
  font-size: 25px;
  margin: 10px 20px;
  background: transparent;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-left: -25px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  header {
    padding: 20px;
  }

  .nav-links {
    color: white;
    background: black;
  }

  .logo-name {
    font-size: 15px;
  }

  .nav-links a {
    font-size: 10px;
  }

  .logout-btn {
    padding: 5px 15px;
    font-size: 13px;
  }

  .icons-container a {
    font-size: 20px;
    margin: 10px 15px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
    margin-top: -10px;
    margin-left: -15px;
    font-size: 12px;
  }
}

/* Media queries for smaller screens */
@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    padding: 25px 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .nav-links a {
    font-size: 18px;
  }

  .icons-container {
    justify-content: center;
    margin-top: 20px;
  }

  .icons-container a {
    margin: 0 10px;
  }
}
