li,
a,
button {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  width: 20%;
  height: 100px;
  margin-bottom: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  padding: 0 20px;
  font-size: 15px;
  color: black;
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
}

.icons-container {
  display: flex;
  list-style: none;
  padding: 9px 25px;
}

.icons-container a {
  font-size: 25px;
  color: black;
  margin: 10px 20px;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-left: -25px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
