.footer {
  background: black;
  color: #fff;
  padding: 20px;
  margin-top: 20%;
}
.footer-content {
  background: black;
  display: flex;
  justify-content: center;
}

.footer-section {
  flex: 1;
  background: #000;

  text-align: center;
}

.footer-section h2 {
  color: white;
  background: #000;
  font-size: 1.5rem;
}

.footer-section p {
  font-size: 1rem;
}

.footer-section ul {
  background: #000;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.footer-bottom {
  background: #000;
  color: white;

  text-align: center;
  font-size: 0.8rem;
}
