.login-container {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  height: 50vh;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-field {
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 3px;
}

.error {
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

.success {
  text-align: center;
  margin-bottom: 20px;
  color: green;
}

.login-btn {
  margin: 10px auto;
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.text {
  text-align: center;
  margin: 20px;
}

.login-link {
  color: red;
  background: white;
}
