section {
  padding: 200px 14%;
}

.banner {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(
    24deg,
    rgba(255, 132, 115, 1) 0%,
    rgba(255, 249, 210, 1) 100%
  );
  background-size: cover;
  background-position: center top;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding-top: 21%;
}

.banner-text,
h1,
span,
p {
  background-color: transparent;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 10px;
  margin-bottom: 23px;
}

.banner-text span {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.banner-text p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
  letter-spacing: 3px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  section {
    padding: 100px 10%;
  }

  .banner-text h1 {
    font-size: 36px;
    letter-spacing: 6px;
  }

  .banner-text span {
    font-size: 30px;
  }

  .banner-text p {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
}

/* Media queries for smaller screens */
@media screen and (max-width: 500px) {
  .banner {
    padding-top: 100%; /* Adjust padding to position the banner */
  }

  .banner-text h1 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 15px;
  }

  .banner-text span {
    font-size: 20px;
  }

  .banner-text p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
}
